{:source-paths ["src"]
 :dependencies []
 :deps         true
 :dev-http     {8080 "target/"}
 :builds       {:utopia
                {:output-dir "target/"
                 :asset-path "."
                 :target     :browser
                 :modules    {:main {:init-fn utopia.core/init!}}
                 :devtools   {:after-load utopia.core/reload!}}

                :todo
                {:output-dir "target/"
                 :asset-path "."
                 :target     :browser
                 :modules    {:todo {:init-fn utopia.examples.todo/init!}}
                 :devtools   {:after-load utopia.examples.todo/reload!}}}}
